{% set has_safe = safe_hints or safe_buttons %}
{% set has_phase2 = phase2_hints or phase2_buttons %}
{% if has_safe or has_phase2 %}
<section class="action-section">
  {% if section_title %}<h3 class="action-section-title">{{ section_title }}</h3>{% endif %}
  {% if has_safe %}
  <div class="action-cluster">
    <p class="action-cluster-title">safe</p>
    {% if safe_hints %}
    <ul class="command-list compact">
      {% for hint in safe_hints %}
      <li><code>{{ hint }}</code></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% with buttons=safe_buttons, title='' %}
    {% include 'dashboard/_action_buttons.html' %}
    {% endwith %}
  </div>
  {% endif %}
  {% if has_phase2 %}
  <div class="action-cluster phase2">
    <p class="action-cluster-title">phase2</p>
    {% if phase2_hints %}
    <ul class="command-list compact">
      {% for hint in phase2_hints %}
      <li><code>{{ hint }}</code></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% with buttons=phase2_buttons, title='' %}
    {% include 'dashboard/_action_buttons.html' %}
    {% endwith %}
  </div>
  {% endif %}
</section>
{% endif %}
